.hl-popup {
  position: fixed;
  z-index: 1040;
  background-color: white;
  box-shadow: 0px 3px 20px #fff;
  width: 400px;
  min-height: 200px;
  border-radius: 5px;
  border: 1px solid #7910a1;
  right: calc(50vw - 200px);
  padding: 8px;
  top: -500px;
  opacity: 0;
  transition: top 0.5s ease-out, opacity 0.5s ease-out;
}
.hl-popup.active {
  top: 100px;
  opacity: 100;
}

.hl-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hl-popup-header h5 {
  margin: 0px 8px;
  font-size: 0.8rem;
  font-weight: 700;
}
.hl-popup-header button {
  all: initial;
  padding: 4px 8px;
  cursor: pointer;
}

.hl-popup-body {
  display: flex;
  gap: 8px;
  padding: 8px;
}
.hl-popup-image {
  display: block;
  max-width: 100px;
  height: auto;
  margin: auto;
}

.hl-popup-footer {
  display: flex;
  justify-content: end;
  gap: 8px;
  padding: 8px;
}
.hl-popup-footer button {
  border: 0 solid #e5e7eb;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.625rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hl-popup-footer .hl-primary {
  border-radius: 50px;
  margin: 0;
  background-color: #7910a1;
  color: rgb(255 255 255);
  box-shadow: 0px 3px 20px #3500496e;
}
.hl-popup-footer .hl-link {
  text-decoration: underline;
  margin: 0;
  background-color: transparent;
  color: #7910a1;
}
